$color_light_blue_hide: #a8d5eb;
$color_light_blue: #54add8;
$color_blue_hide: #94c4db;
$color_blue: #0085c5;
$color_gray: #aaaaaa;
$color_gray_hover: #bfd8eb;
$color_border: #d7d7d7;

$color_orange: #f75c00;
$color_orange_hover: #c1401e;
$color_yellow: #f9b43b;
$color_white: #fff;
$color_dark: #2f3234;
$color_dark_hover: #1f2122;
$color_green: #8bc03f;

// resolutions
$tablets: 730px;
$phones: 414px;